{% extends "website/base.html" %}
{% block localscripts %}
    <script>
        $(document).ready(function () {
            $(".hideme").hide();
            $('li.skill').mouseenter(function () {
                $(this).children('.hideme').stop().slideDown(500);
            }).mouseleave(function () {
                $(this).children('.hideme').stop().slideUp(500);
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        {% for cat in categories %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h2>{{ cat.name }}</h2>
                <ul>
                    {% for skill in cat.skills %}
                        <li class="skill">{{ skill.name }}
                            <div class="hideme"><em>{{ skill.description }}</em>
                            </div>
                            <div class="hideme progress progress-striped active">
                                <div class="progress-bar"
                                     style="width: {{ skill.level }}%;"><span
                                        class='sr-only'>{{ skill.level }}%</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}